/* global selector */
/* *{
padding: o;
margin: 0;
}*/

ul{
  background-color: rgb(255, 205, 249);
  font-size:40px;
  color:rgb(130, 24, 59);
  width: 400px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
li {
  margin: 5px;
  background-color: rgb(178, 173, 230);
  border-radius: 10px;
  list-style-position: inside;
  border-radius: 10px;
  color: rgb(126, 30, 97);
  box-shadow: 3px 3px 5px rgb(245, 244, 244);
}
{body
}